# Database
/db

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Backend
backend/target/

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate*
infrastructure/tfplan
infrastructure/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
